/* Definición de variables de color y sombras */
:root {
  --primary: #EA40A4; /* Color primario */
  --business: #3A82EE; /* Color para categoría de negocios */
  --personal: var(--primary); /* Color para categoría personal */
  --light: #EEE; /* Color de fondo claro */
  --grey: #888; /* Color gris */
  --dark: #313154; /* Color de texto oscuro */
  --danger: #ff5b57; /* Color de peligro */

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra predeterminada */

  --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75); /* Resplandor para categoría de negocios */
  --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75); /* Resplandor para categoría personal */
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

/* Estilos de elementos de entrada y botones */
input:not([type="radio"]):not([type="checkbox"]), button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

/* Estilos del cuerpo de la página */
body {
  background: var(--light);
  color: var(--dark);
}

/* Estilos de secciones */
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}

/* Estilos de títulos */
h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}